@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Pacifico);
body{
background-color: #670A05;
}

h1#titulo{
  font-family: 'orbitron', sans-serif;
  text-align:center;
  font-size: 50px;
  color:#680803;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.6);

}

h2#titulo{
  font-family: 'orbitron', sans-serif;
  text-align:center;
  font-size: 30px;
  color:#680803;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.6);

}
p{
  text-align:justify;
  text-indent: 50px;

 }
 div#interface {
    width: 1100px;
    background-color: #67917A;
    margin: -22px auto 0px auto ;
    padding: 20px;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.6);

 }

img#centralizar{
  display: block;
  margin: 5px auto
}
